td{
	font-weight: bold;
	font-size: 30px;
}

body{
	background-color: #d92323;
		background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjlu90Q32-_ncQuXMQdou8n-Tj9Z_dDJws4A&s);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;