td{
	font-weight: bold;
	font-size: 30px;
}

body{
	background-color: #d92323;
		background-image: url(https://img.lovepik.com/background/20211021/large/lovepik-simple-blue-technology-background-image_401677077.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
